*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(224, 219, 222);
    color: rgb(243, 97, 197);
    font-family: 'Poppins', sans-serif;
    display: block;
    /* overflow-x: hidden; */
}
/* nav */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(75, 18, 182);
}
nav .right-nav ul{
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 10px 23px;
    cursor: pointer;
}
.right-nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li :hover{
    color: rgb(15, 15, 241);
    font-size: 1.03rem;
}
.left-nav{
    font-size: 1.5rem;
}
.nav-toggle{
    display: none;
}
/* first introduction section */
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;

.side1 h1 { 
	font-size: 60px; 
	margin-bottom: 10px; 
	color: rgb(230, 29, 163); 
} 

}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}
/* Second skill section */
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 50vh;
}
h1{
    font-size: 1.9rem;
}

/* Third personal projects */
.thirdSection{
    max-width: 80vw;
    margin: auto;
    height: 50vh;
}

/* Fourth certificate section */
.fourthSection{
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}






/* Footer */
footer { 
	background: black; 
	padding: 15px 0; 
	text-align: center; 
	font-family: "Poppins", sans-serif; 
} 

footer .footer span { 
	font-size: 17px; 
	font-weight: 400; 
	color: white; 
} 


